main .product-describe-button button:focus{
    outline: none;
}
.box-limit{
    position: absolute;
    top: 35px;
    right: 20px;
    font-weight: 600;
    font-size: 16px;
    transform: rotateZ(40deg);
    border: 1px solid red;
    background: red;
    color: white;
}

.product-describe-button-disable{
    display: flex;
    justify-content: center;
}

.product-describe-button-disable button{
    width: 100%;
    padding: 5px 10px;
    border: 2px solid gray;
    background: gray;
    color: white;
    border-radius: 20px;
    font-weight: 700;
}

.product-comment-not-found{
    margin: 30px;
    text-align: center;
}

.product-comment-not-found p{
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    color: gray;
    text-transform: uppercase;
}

.product-comment-form .form-group, .product-comment-form button{
    margin: 10px;
}

.comment-login{
    margin: 10px
}

.comment-login p{
    font-weight: 500; 
}

.comment-login a{
    color: white !important;
    font-weight: 600;
}

@media (max-width: 850px){
    .product-left-mobile{
        padding: 0px !important;
        margin-top: 15px;
    }

    .product-left-mobile .product-left .product-lef-img{
        margin-left: 0px !important;
    }

    .product-left-mobile .product-left .product-left-box{
        padding-left: 10px;
    }
}

@media (max-width: 500px){
    .product-data ul li{
        list-style: none;
    }
}

@media (max-width:992px){
    .product-left-mobile{
        padding: 0px !important;
        margin-top: 15px;
    }

    .product-left-mobile .product-left .product-lef-img{
        margin-left: 0px !important;
    }

    .product-left-mobile .product-left .product-left-box{
        padding-left: 10px;
    }
}