<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Watch Register</h1>
        </div>

        <div class="login-form">

            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="name" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="username" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="password" id="login-pass">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <div class="control-group">
                <input type="email" class="login-field" value="" placeholder="email" id="login-pass">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="phone" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="address" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <a class="btn btn-primary btn-large btn-block" href="#">Register</a>
            <p class="mt-2">Do you have account?<a class="login-link" routerLink="/login">Login</a></p>
        </div>
    </div>
</div>