<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Watch Register</h1>
        </div>

        <form class="login-form" #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
            <div class="control-group">
                <input type="text" required min="5" class="login-field" value="" placeholder="name" id="name"
                    name="name" ngModel>
                <label class="login-field-icon fui-user" for="name"></label>
                <ng-container *ngIf="isValidName == false">
                    <p class="text-danger">Name bắt buộc</p>
                </ng-container>
            </div>

            <div class="control-group">
                <input type="text" required class="login-field" value="" placeholder="username" id="username"
                    name="username" ngModel>
                <label class="login-field-icon fui-user" for="username"></label>
                <ng-container *ngIf="isValidUsername == false">
                    <p class="text-danger">Username bắt buộc</p>
                </ng-container>
            </div>

            <div class="control-group">
                <input type="password" required class="login-field" value="" placeholder="password" id="password"
                    name="password" ngModel>
                <label class="login-field-icon fui-lock" for="password"></label>
                <ng-container *ngIf="isValidPassword == false">
                    <p class="text-danger">Password bắt buộc</p>
                </ng-container>
            </div>

            <div class="control-group">
                <label class="login-field-icon fui-lock" for="email"></label>
                <input type="email" required class="login-field" value="" placeholder="email" id="email" name="email"
                    ngModel>
                <ng-container *ngIf="isValidEmail == false">
                    <p class="text-danger">Email bắt buộc hoặc email không hợp lệ</p>
                </ng-container>
            </div>

            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="phone" id="phone" name="phone" ngModel>
                <label class="login-field-icon fui-user" for="phone"></label>
            </div>

            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="address" id="address" name="address"
                    ngModel>
                <label class="login-field-icon fui-user" for="address"></label>
            </div>
            <button type="submit" class="btn btn-primary btn-large btn-block">Register</button>
        </form>
        <p class="text-center mt-2">Do you have account?<a class="login-link" routerLink="/auth/login">Login</a></p>
    </div>
</div>