/* You can add global styles to this file, and also import other style files */
 *{
    margin: 0;
    font-size: 16px;
    padding: 0;
    /* height: 100%;
    overflow: hidden; */
}

body{
    min-height: 100vh;
    position: relative;
}


ul{
    margin: 0 !important;
}

li{
    list-style-type: none;
}

a{
    color: black !important;
}

a:hover{
    text-decoration: none !important;
}

li a:hover{
   text-decoration: none; 
   color: red !important;
   transition: ease-in 0.2s;
   cursor: pointer;
}

body{
    background-color: #ffffff;
}

/* header */
.header-fix{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 200;
    top: 0px;
    /* transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.5s; */
    /* transition: ease-in 0.5s; */
}
/* .header-trans{
    transition: ease-in 0.5s;
} */

header{
   width: 100%;
   height: auto;
    background: white;
    margin-top: 0px !important;
}
header .header-main{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

header .header-logo h3{
    font-size: 2rem;
    text-transform: uppercase;
}

header .right-header div button{
    color: #ffffff;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

header .right-header div .login{
    margin-right: 10px;
}

header .right-header div .cart{
    margin-left: 10px;
}

header .left-header .search{
    margin-left: 5px;
}
/* nav */
nav{
    width: 100%;
    background-color: #ededed !important;
    height: auto;
}
nav .wrapper-nav{
    width: 90%;
    height: auto;
    margin: auto;
    
}

nav .wrapper-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav .wrapper-nav ul li{
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px;
}

nav ul li :hover{
    border-bottom: 2px solid red;
}

nav ul li:hover > ul{
    display: block !important;
    position: absolute;
    top: 53px;
    z-index: 10;
}


nav .wrapper-nav ul li ul {
    display: none;
    background-color: #ffffff;
    /* position: absolute; */
}

nav .wrapper-nav ul li ul{
    width: 100%;
}

nav .wrapper-nav ul li ul li{
    width: 100%;
}

nav .wrapper-nav ul li ul li a{
    color: #777 !important;
}

nav .wrapper-nav ul li ul:hover,nav .wrapper-nav ul li ul li a:hover{
    border: 0px;
    text-decoration: none;
    color: white !important;
}

nav .wrapper-nav ul li ul li:hover{
    border: 0px;
    background-color: red;
    border-radius: 10px ;
    transition: ease-in-out 0.s;
} 

.active{
    color: red !important;
}

/* section title */
main .section-title{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

main .section-title b{
    flex: 1;
    height: 2px;
    display: block;
    opacity: .1;
    background-color: black;
}

main .section-title .section-title-main{
    font-size: 1.5rem;
    padding: 10px 20px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}
main .section-brand .row div div:hover{
    transform: scaleX(1.05);
    transform: translateY(1.05);
    transition: ease-in-out 0.3s;
}

/* product */
main .product .product-cart{
    /* width: 300px; */
    height: auto;
    position: relative;
}

main .product .product-cart:hover span{
    display: inline;
}
main .product .product-cart .box-img{
    width: 100%;
    height: auto;
}

main .product .product-cart .box-img a img{
    width: 100%;
    height: auto;
}
main .product .product-cart span{
    position: absolute;
    left: 25px;
    top: 200px;
    display: none;
}

main .product .product-cart .box-text{
    height: 100px;
}

main .product .product-cart .box-text .box-title{
    width: 100%;
    text-align: center;
}


main .product .product-cart .box-text .box-price{
    width: 100%;
    text-align: center;
}

main .product .product-cart .box-text .box-title p{
    margin-bottom: 0px;
    padding: 10px;
}

main .product .product-cart .box-text .box-price h5{
    margin-bottom: 0px;
}

main .product .product-cart .box-text .box-title:hover a{
    text-decoration: none;
    color: red !important;
    transition: ease-in 0.3s;
    
}

main .product .btn-see-all{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
}

main .product .btn-see-all button{
    background-color: white;
    padding: 10px 45px;
    border-radius: 20px;
    border: 2px solid red;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: red;
}

main .product .btn-see-all button:hover{
    background-color: red;
    color: white;
    transition: ease-in-out 0.4s;
}

/* post */

main .post-watch .box-post .box-img{
    width: 100%;
    height: auto;
}

main .post-watch .box-post:hover{
    transition: ease-in-out 0.3s;
    color: red !important;
    cursor: pointer;
}

main .post-watch .box-post .box-img img{
    width: 100%;
    height: auto;
}

main .post-watch .box-post .box-title .title-post{
    text-align: center;
    padding-top: 20px;
}

main .post-watch .box-post .box-title .title-post h5{
    font-size: 1.4rem;
    font-weight: 650;
}

main .post-watch .box-post .box-title .title-post-sub{
    text-align: center;
    padding-top: 5px;
}

main .post-watch .box-post .box-title .title-post-sub a:hover p{
    transition: ease-in-out 0.3s;
    color: red;
}

/* shop page title */
main .shop-page-title{
    width: 100%;
    height: auto;
    background-color: red !important;
}

main .shop-page-title .container h4{
    color: white;
    font-size: 1.8rem;
    padding: 10px 5px;
}

main nav{
    background-color: red !important;
    padding: 0px 0px 10px 5px ;
}

main nav a{
     color: white !important;
     font-weight: 500 !important;
}

main nav a:hover{
    color: black !important;
    transition: ease-in 0.4s;
}

main nav span {
    color: white ;
}

/* pagination */
main .pagination{
    width: 100%;
}
main .pagination ul{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
}

main .pagination ul li{
    padding: 5px 13px;
    margin: 0px 10px 0px 10px;
    border: 2px solid black;
    border-radius: 50%;
    font-weight: 700;
}

main .pagination ul li:hover{
    background-color: red;
    transition: ease-in 0.4s;
}
main .pagination ul li:hover a{
    color: white !important;
}

main .pagination ul li:hover i{
    color: white !important;
}
.pagination .active{
    background-color: red !important;
}

footer .footer{
    background-color: red;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

/* article post-list */

main article{
    border-left: 1px solid #ededed;
    border-bottom: 4px solid #ededed;
    border-right: 1px solid #ededed;
}

main article .post-list-title{
    padding: 0px 0px 10px 15px;
}
main article .post-list-title p{
    text-transform: uppercase;
    font-size: 0.8rem;
}

main article .post-list-img a img{
    width: 100%;
    height: auto;
}

main article .post-list-content{
    padding: 20px 0px 10px 15px;
}

main article .post-list-content button{
    padding: 2px 10px;
    border: 2px solid red;
    color: red !important;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

main article .post-list-content button:hover{
    border: none;
    background-color: red;
    color: white !important;
    transition: ease-in 0.3s;
}

main .new-post{
    width: 100%;
}

main .title-new-post a:hover{
    color: red !important;
    transition: ease-in 0.3s;
}

/* product detail */
main .title-product{
    background-color: white !important;
}

main .title-product a{
    color: rgba(102,102,102,.7) !important;
    padding: 0px 5px;
    text-transform: uppercase;
}

main .product-describe .product-describe-title h1{
    text-align: center;
    font-size: 1.8rem !important;
    font-weight: 700 !important;
}

main .product-describe .product-describe-price h5{
    text-align: center;
    display: inline;
    padding: 0px 0px 10px 5px;
}

main .product-describe .product-describe-guarantee{
    padding: 10px 0px 10px 0px;
}

main .product-describe .product-describe-button{
    display: flex;
    justify-content: center;
}

main .product-describe .product-describe-button button{
    width: 100%;
    padding: 5px 10px;
    border: 2px solid red;
    background: white;
    color: red;
    border-radius: 20px;
    font-weight: 700;
}

main .product-describe .product-describe-button button:hover{
    background: red !important;
    color: white !important;
    transition: ease-in-out 0.3s;
}

main .product-left .product-lef-img{
    text-align: center;
    max-width: 100%;
    margin-bottom: 30px;
    margin-left: 20px !important;
}
main .product-left .product-left-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

main .product-left .product-left-box div p{
    padding: 0px 0px 15px 20px;
}

/* collapse */


main .product-info .btn-group,main .product-info{
    width: 100%;
}

main .product-info button{
    padding: 5px 15px;
    border-left: 1px solid #ddd ;
    border-bottom:1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 2px solid #ddd;
    background-color: rgba(0,0,0,.04);
    color: rgba(102,102,102,.85);
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
}

main .product-info .active{
    border-bottom: 2px solid white;
    color: black;
    background-color: white;
    border-top: 2px solid red;
    z-index: 100;
}

main .product-info button:hover{
    color: black;
    transition: ease-in 0.5s;
}

main .product-info button:focus{
    outline: none;
}
main .product-info button:first-child{
    margin-right: 5px;
}
main .product-info button:last-child{
    margin-left: 5px;
}

main .product-info .product-data{
    border-left: 1px solid #ddd ;
    border-bottom:1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    z-index: 1;
    position: relative;
    top: -1px;
    width: 100%;
}

main .product-info .product-data .product-data-describe{
    padding: 10px 20px;
}

main .product-info .product-data .product-data-describe h3{
    margin-bottom: 15px;
}

main .product-info .product-data .product-data-describe ul{
    width: 100%;
    height: 350px;
    margin-left: 20px !important;
    margin-bottom: 30px;
}
main .product-info .product-data .product-data-describe ul li{
    list-style: disc;
    width: 50%;
    float: left;
    padding: 10px 0px;
}

main .product-info .product-data .product-data-guarantee{
    padding: 40px 25px;
    text-align: left;
    line-height: 20px;
}

footer{
    position: absolute;
    width: 100%;
    bottom: -100px;
}

/* button scroll */

.scroll-btn button{
    padding: 5px 10px;
    background-color: white;
    border-radius: 6px;
    border: 2px solid black;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 100;
}

.scroll-btn button:hover{
    color: red;
    transition: ease-in-out 0.4s;
}

/* Image Gallery */
#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
    .thumb{
    margin-bottom: 30px;
}
        
.page-top{
    margin-top:85px;
}

   
img.zoom {
    width: 100%;
    height: 100%;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.01);
}
.modal-header {
   
    border-bottom: none;
}
.modal-title {
    color:#000;
}
.modal-footer{
    display:none;  
}

hr{
    width: 100%;
}
