.product-cart a:hover{
    cursor: pointer;
}

.product-cart .box-img .box-limit{
    position: absolute;
    top: 35px;
    right: 15px;
    font-weight: 600;
    font-size: 16px;
    transform: rotateZ(40deg);
    border: 1px solid red;
    background: red;
    color: white;
}

@media (max-width: 850px){
     .product-cart{
        width: 100% !important;
        text-align: center
    }
    .product-cart .box-img{
        width: 100%;
    }

    ::ng-deep .brand-img{
        width: 100% !important;
        height: 100% !important;
    }
    .product-cart .box-img a .box-image-responsive{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 572px){
    
    .product-cart .box-img a .box-image-responsive{
        width: auto;
        height: auto;
    }
}